$panelColor: rgb(50, 60, 70);
$panelColorSecondary: #4b4e6a;
$panelColorLight: rgb(242, 242, 242);
$panelColorActive: #eaeaea;

$textColorWhite: #fff;
$textColorBlack: #000;
$textColorGreen: rgb(120, 240, 170);
$colorGreenDark: rgb(26 155 80);
$colorRedDark: rgb(223 20 65);
$textColorGrayDark: #444;
$textColorGrayLight: #888;
$colorRowGrayActive: #d4d4d4;
